.main-navigation {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: block;
  min-width: 1024px;
  background: #333;
  background: rgba(0,0,0,0.8);
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-navigation .nav-list {
  list-style-type: none;
  display: inline-block;
}
.main-navigation .nav-list.logo {
  padding-right: 55px;
  padding-left: 55px;
}
.main-navigation .nav-list {
  margin: 0;
  padding: 0;
}
.main-navigation .nav-list li {
  display: inline-block;
  min-width: 85px;
  text-align: center;
  height:100%;
  padding: 1em;
  cursor: pointer;
}
.main-navigation .nav-list li a {
  text-decoration: none;
  color: white;
}
.main-navigation .nav-list li a.selected {
  opacity: .65;
}
.contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.contentBlocks {
  min-height: 100vh;
  height: 100vh;
}
.quoteBlock {
  text-align: center;
  vertical-align: middle;
  display: table;
}
.quoteBlock blockquote {
  display: table-cell;
  vertical-align: middle;
  font-size: 2em;
  padding: 120px;
}
.aboutBlock .basicProfile {
  padding: 3%;
}
.coverNav {
  padding-top: 54px;
}
.inlineBlock {
  display: inline-block;
}
.floatLeft {
  float: left;
}
.profileDetails {
  padding-left: 25px;
}
.profileDetails .name {
  font-size: 45px;
}
.profileDetails .tag {
  font-size: 18px;
}
.profileDetails .location {
  font-size: 15px;
}
.profileDetails .shortDesc {
  font-size: 18px;
  font-style: italic;
}
.profileDetails .connect {
  font-size:42px;
}
.profileDetails .connect a {
  text-decoration: none;
  color: black;
}
.profileDetails .downloadFile {
  font-size: 18px;
}
.disableTextDecoration {
  text-decoration: none;
}
#skillsCloud {}
.skillsBlock {
  text-align: center;
}
.experienceTimelineFrameContainer {
  width: 100%;
  height: 100%;
}
.experienceTimelineFrame {
  height: calc(100vh - 54px);
  width: 100%;
  display: block;
  border: 0;
}
#logo {
  padding: 6px;
  border: 1px solid white;
  font-weight: bold;
}
